* {
	box-sizing: border-box;
}
body {
	margin: 0;
}
.content {
	background-image: url('../img/image.jpg');
	background-size: cover;
	min-height: 100vh;
}
h1 {
	background-color: rgb(255 255 255 / 50%);
	text-align: center;
	margin: 0;
	padding: 15px;
	font-weight: bold;
}
.num {
	display: block;
	margin: 100px auto;
	width: fit-content;
	font-size: 75px;
	font-weight: bold;
	color: white;
}
.text {
	display: none;
}
.btn {
display: block;
padding: 35px;
margin: auto;
border: 1px solid #ccc;
border-radius: 50%;
font-size: 30px;
font-weight: bold;
position: relative;
z-index: 1;
cursor: pointer;
}
.layout {
	content: '';
	background-color: black;
	position: absolute;
	top: 320px;
	left: 45px;
	width: 285px;
	height: 57px;
}
.restart {
	padding: 10px;
	margin: 40px;
	cursor: pointer;
	border-radius: 50%;
	border: none;
}
.img {
	display: none;
}
.done {
	display: none;
}
@media (min-width: 767px) {
	.content {
		max-width: 40%;
    margin: auto;
	}
	.layout {
		top: 325px;
    left: 316px;
	}
}